<section class="article-show-view">
  <div class="article-show-content">
    <%= image_tag @article.curriculum.image_url %>
    <p><%= @article.title %></p>
  <!-- <p><%= link_to "いいね", article_reads_path(@article.id), method: :post%></p> -->
  <!-- <div id="like-buttons"><%= render partial: 'reads/read', locals: { article: @article, reads: @reads} %></div> -->
  <div class="video">
    <iframe src="<%= @article.url %>" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
  </div>
  </div>
</section>
